@font-face {
    font-family: bebas-neue;
    src: url(/css/BebasNeue-Regular.ttf);
}
@font-face {
    font-family: font-body;
    src: url(/css/impact.ttf);
}


@media(max-width:992px)
{
    .mobileMenu
    {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        background-color: #666666;
        transform:translateX(-100%);
        transition: all ease 0.25s;
        
    }
    .open
    {
        transform:translateX(0);
    }
    .overlay
    {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;

    }
    .covered
    {
        display: block;
        background: rgba(0,0,0,0.5);
    }

}


.container-fluid
{
    width: 100%;
}

*
{
    font-family: font-body;
    font-size:20px;
    
}

body
{
    background:#a6a4a4;
}

nav
{
    background: #666666;
    font-size: 26px;
}

a, i, button, h1
{
    color:#ffffff;
}

h1
{
    font-size: 50px;
    margin-bottom: 0;
}

a
{
    padding-left: 10px;
    padding-right: 10px;
}

ul li
{
    min-width: 150px;
    text-align: center;
}

ul li :hover, .active
{
    color: #ffffff;
    background: #fc5628;
    border-radius: 3px;
}

p
{
    text-align: justify;
    padding: 0;
}

.row
{
    margin: 0;
}

/*forms*/

.error
{
    font-size: 18px;
    color: #b81200;
}

.submitButton
{
    border: #000000 solid 2px;
    background: #666666;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    width:60%; 
    font-family : font-body;
    margin:0 auto;
}

form button:hover
{
    color: #ffffff;
    background: #fc5628;
}

input
{
    border: #000000 solid 2px;
    border-radius: 5px;
    width: 75%;
}

.contactForm input, textarea
{
    width: 100%;
    border: #000000 solid 2px;
    border-radius: 5px;
}

.form
{
    margin: 0 auto;
    text-align: center;
}

.contactForm
{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    margin : 0 auto;
}
.clickme
{
    text-decoration: none;
    color: #ffffff;
}
.clickme :hover
{

    color: #fc5628;
}

/* forms end*/

.footer 
{
    width: 100%;
    background-color: #666666;
    color: #ffffff;
    text-align: right;
    padding:10px;
}
