.container
{
    margin-top: 40px;
}
a
{
    text-decoration: none;
    font-weight: 300px;
    background-color: #03fcb1;
    border-radius: 15px;
    padding: 10px;
    color: #000000;
}

a :hover
{
    color: #ffffff;
}

button
{
    background-color: #03fcb1;
    border-radius: 30px;
}

.bg-modal
{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;

}

.modal-content
{
    width: 60%;
    height: 60%;
    background-color: #ffffff;
    border-radius: 15px;
    position: relative;
}

.btn-close
{
    position: absolute;
    top: 14px;
    right: 14px;
}

.popup-table
{
    text-align: center;
    table-layout: fixed;
    width: 100%;
    font-size: 20px;
}

.popup-table tbody tr
{
    border-top: 10px solid #ffffff;
    border-bottom: 10px solid #ffffff;
}

.popup-table tbody .payment
{
    border-top: #ffffff solid 90px;
}

.record-title
{
    text-align: right;
}

#cID, #fname, #lname, #email, #balance
{
    text-align: left;
    border: none;

}

.tramt
{
    text-align: right;
}